## **Lists**

In [1]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [6]:
#Create a list of 10 Integers
numbers=[2,10,23,5,89,67,34,22,11,90]
print('Original List:' ,numbers)

#Sum,max and min
print('Sum:' , sum(numbers))
print('Max:' , max(numbers))
print('Min:' , min(numbers))

#Add a new element to the list and remove an existing one
numbers.append(50)
numbers.remove(23)
print('updated List:' , numbers)

#sort list in Assending And descending order
print('Ascending:', sorted(numbers))
print('Descending', sorted(numbers,reverse=True))

Original List: [2, 10, 23, 5, 89, 67, 34, 22, 11, 90]
Sum: 353
Max: 90
Min: 2
updated List: [2, 10, 5, 89, 67, 34, 22, 11, 90, 50]
Ascending: [2, 5, 10, 11, 22, 34, 50, 67, 89, 90]
Descending [90, 89, 67, 50, 34, 22, 11, 10, 5, 2]

# **Tuples**

In [9]:
#Create a tuple with 5 strings
fruits =('apple', 'banana','cherry','mango','grapes')

#print 2nd and last element
print('Second Element:',fruits[1])
print('Last Element:',fruits[-1])

#try to remove or check
#fruits.remove('apple')

#convert tuple to list
fruit_list=list(fruits)
fruit_list[2]='orange'
print('Modified List:' ,fruit_list)

Second Element: banana
Last Element: grapes
Modified List: ['apple', 'banana', 'orange', 'mango', 'grapes']

# **Sets**

In [ ]:
#Create sets
set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8}
#Union,Intersection,Difference
print('Union:',set_a | set_b)
print('Intersection:')

# **Dictionaries**

In [ ]:
#create dictionary
students = {'Ali':85,'Sara':90,'Ahmed':78,'Zara':92,'Omar':88}

#print keys and values
print('keys:', students.key())
print('Values:', students.values())

#update value
students['Ali']

# **Numpy**

# **Matplotlib**